@import '../vars/colors';

#webview-container {
    #webpage-stack {
        .webpageview {
            .row-wrapper {
                .devtools-container {
                    .internal-page {
                        .startpage {
                            .startpage-navigation {
                                .startpage-navigation-group {
                                    .button-startpage {
                                        &.active {
                                            border-color: $pink;
                                        }
                                    }
                                    .editable-title-container {
                                        .button-startpage {
                                            border-color: $purple;

                                            &.active {
                                            }
                                        }
                                    }
                                }
                            }
                            .startpage-content {
                                .sdwrapper {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    background: rgba(0, 0, 0, 0.75);
                                    backdrop-filter: contrast(0.5);

                                    .dials-wrapper {
                                        span {
                                            .speeddial {
                                                margin: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
